@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@100&family=PT+Sans&family=Source+Sans+Pro&family=Ubuntu&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    margin: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color:beige
}

h1{
    text-align: center;
    color: darkred;
}
img{
    border: 3px solid black;
    border-radius: 20px;
    padding: 20px;
}

line{
    text-align: center;
}

.lead , .bottom{
    font-size: 27px;
}